In [1]:
import pydataset as ds

In [2]:
titanic_ds = ds.data('titanic')
display(titanic_ds)

          class     age    sex survived
1     1st class  adults    man      yes
2     1st class  adults    man      yes
3     1st class  adults    man      yes
4     1st class  adults    man      yes
5     1st class  adults    man      yes
...         ...     ...    ...      ...
1312  3rd class   child  women       no
1313  3rd class   child  women       no
1314  3rd class   child  women       no
1315  3rd class   child  women       no
1316  3rd class   child  women       no

[1316 rows x 4 columns]

1. Quantas pessoas sobreviveram e quantas morreram?

In [3]:
titanic_ds['survived'].value_counts()

survived
no     817
yes    499
Name: count, dtype: int64

2. Quantas pessoas eram da primeira, segunda e terceira classe?

In [4]:
titanic_ds['class'].value_counts()

class
3rd class    706
1st class    325
2nd class    285
Name: count, dtype: int64

3. Qual a porcentagem de sobreviventes na primeira classe?

In [3]:
primeira_classe_df = titanic_ds.loc[titanic_ds['class'] == '1st class']
display(primeira_classe_df)

quantidade_df = primeira_classe_df.groupby('survived').size().reset_index(name='quantidade')
display(quantidade_df)

quantidade_df['%'] = quantidade_df['quantidade'] * 100 / quantidade_df['quantidade'].sum()
primeira_classe_sobreviventes_df = quantidade_df.loc[quantidade_df['survived'] == 'yes']
display(primeira_classe_sobreviventes_df)

print(f'A porcentagem de sobreviventes na primeira classe é {primeira_classe_sobreviventes_df.loc[1, "%"]:.2f}%')

         class     age    sex survived
1    1st class  adults    man      yes
2    1st class  adults    man      yes
3    1st class  adults    man      yes
4    1st class  adults    man      yes
5    1st class  adults    man      yes
..         ...     ...    ...      ...
321  1st class   child    man      yes
322  1st class   child    man      yes
323  1st class   child    man      yes
324  1st class   child    man      yes
325  1st class   child  women      yes

[325 rows x 4 columns]

  survived  quantidade
0       no         122
1      yes         203

  survived  quantidade          %
1      yes         203  62.461538

A porcentagem de sobreviventes na primeira classe é 62.46%

In [10]:
groupby_class_survived_df = titanic_ds.groupby(['class', 'survived']).size().reset_index(name='quantidade')
display(groupby_class_survived_df)

porcentagem_sobreviventes_1st_class = groupby_class_survived_df.loc[1, 'quantidade'] * 100 / groupby_class_survived_df.loc[0:1, 'quantidade'].sum()
print(f'A porcentagem de sobreviventes na primeira classe é {porcentagem_sobreviventes_1st_class:.2f}%')

       class survived  quantidade
0  1st class       no         122
1  1st class      yes         203
2  2nd class       no         167
3  2nd class      yes         118
4  3rd class       no         528
5  3rd class      yes         178

A porcentagem de sobreviventes na primeira classe é 62.46%

4. Qual a porcentagem de mortos da terceira classe?

In [7]:
porcentagem_mortos_3rd_class = groupby_class_survived_df.loc[4, 'quantidade'] * 100 / groupby_class_survived_df.loc[4:5, 'quantidade'].sum()
print(f'A porcentagem de mortos na terceira classe é {porcentagem_mortos_3rd_class:.2f}%')

A porcentagem de mortos na terceira classe é 74.79%