In [1]:
import pydataset as ds

In [2]:
bundesliga_ds = ds.data('Bundesliga')
display(bundesliga_ds)

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Round,Year,Date
1,Werder Bremen,Borussia Dortmund,3,2,1,1963,1963-08-24 09:30:00
2,Hertha BSC Berlin,1. FC Nuernberg,1,1,1,1963,1963-08-24 09:30:00
3,Preussen Muenster,Hamburger SV,1,1,1,1963,1963-08-24 09:30:00
4,Eintracht Frankfurt,1. FC Kaiserslautern,1,1,1,1963,1963-08-24 09:30:00
5,Karlsruher SC,Meidericher SV,1,4,1,1963,1963-08-24 09:30:00
...,...,...,...,...,...,...,...
14014,Arminia Bielefeld,Hannover 96,2,2,34,2008,2009-05-23 09:30:00
14015,Karlsruher SC,Hertha BSC Berlin,4,0,34,2008,2009-05-23 09:30:00
14016,1. FC Koeln,VfL Bochum,1,1,34,2008,2009-05-23 09:30:00
14017,Borussia Moenchengladbach,Borussia Dortmund,1,1,34,2008,2009-05-23 09:30:00
14018,Schalke 04,1899 Hoffenheim,2,3,34,2008,2009-05-23 09:30:00

In [7]:

bundesliga_ds['TotalGols'] = bundesliga_ds['HomeGoals'] + bundesliga_ds['AwayGoals']

maior_quantidade_gols = bundesliga_ds['TotalGols'].max()
jogos_maior_quantidade_gols = bundesliga_ds.loc[bundesliga_ds['TotalGols'] == maior_quantidade_gols]
display(jogos_maior_quantidade_gols)

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Round,Year,Date,TotalGols
81,Borussia Dortmund,1. FC Kaiserslautern,9,3,11,1963,1963-11-16 09:30:00,12
2456,Bayern Muenchen,Borussia Dortmund,11,1,16,1971,1971-11-27 09:30:00,12
4052,1. FC Koeln,Tennis Borussia Berlin,8,4,23,1976,1977-02-26 09:30:00,12
4457,Borussia Moenchengladbach,Borussia Dortmund,12,0,34,1977,1978-04-29 09:30:00,12
5788,Borussia Dortmund,Arminia Bielefeld,11,1,12,1982,1982-11-06 09:30:00,12

In [6]:
jogos_maior_quantidade_gols_colunas = jogos_maior_quantidade_gols[['HomeTeam', 'AwayTeam', 'HomeGoals', 'AwayGoals', 'Date']]
display(jogos_maior_quantidade_gols_colunas)

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Date
81,Borussia Dortmund,1. FC Kaiserslautern,9,3,1963-11-16 09:30:00
2456,Bayern Muenchen,Borussia Dortmund,11,1,1971-11-27 09:30:00
4052,1. FC Koeln,Tennis Borussia Berlin,8,4,1977-02-26 09:30:00
4457,Borussia Moenchengladbach,Borussia Dortmund,12,0,1978-04-29 09:30:00
5788,Borussia Dortmund,Arminia Bielefeld,11,1,1982-11-06 09:30:00

In [9]:
sorted_bundesliga_df = bundesliga_ds.sort_values(by='TotalGols', ascending=False)
display(sorted_bundesliga_df)
idxs = sorted_bundesliga_df['TotalGols'] == sorted_bundesliga_df.iloc[0]['TotalGols']
sorted_bundesliga_df = sorted_bundesliga_df[idxs]
display(sorted_bundesliga_df)

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Round,Year,Date,TotalGols
4457,Borussia Moenchengladbach,Borussia Dortmund,12,0,34,1977,1978-04-29 09:30:00,12
4052,1. FC Koeln,Tennis Borussia Berlin,8,4,23,1976,1977-02-26 09:30:00,12
2456,Bayern Muenchen,Borussia Dortmund,11,1,16,1971,1971-11-27 09:30:00,12
81,Borussia Dortmund,1. FC Kaiserslautern,9,3,11,1963,1963-11-16 09:30:00,12
5788,Borussia Dortmund,Arminia Bielefeld,11,1,12,1982,1982-11-06 09:30:00,12
...,...,...,...,...,...,...,...,...
10878,VfB Stuttgart,1. FC Nuernberg,0,0,26,1998,1999-04-13 13:30:00,0
10880,Werder Bremen,Hamburger SV,0,0,26,1998,1999-04-13 14:00:00,0
7562,Borussia Dortmund,Borussia Moenchengladbach,0,0,5,1988,1988-08-27 09:30:00,0
12974,VfB Stuttgart,Werder Bremen,0,0,20,2005,2006-02-08 14:00:00,0
8293,Wattenscheid 09,Bayer Uerdingen,0,0,19,1990,1991-03-01 13:30:00,0

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Round,Year,Date,TotalGols
4457,Borussia Moenchengladbach,Borussia Dortmund,12,0,34,1977,1978-04-29 09:30:00,12
4052,1. FC Koeln,Tennis Borussia Berlin,8,4,23,1976,1977-02-26 09:30:00,12
2456,Bayern Muenchen,Borussia Dortmund,11,1,16,1971,1971-11-27 09:30:00,12
81,Borussia Dortmund,1. FC Kaiserslautern,9,3,11,1963,1963-11-16 09:30:00,12
5788,Borussia Dortmund,Arminia Bielefeld,11,1,12,1982,1982-11-06 09:30:00,12

In [10]:
sorted_bundesliga_df_colunas = sorted_bundesliga_df[['HomeTeam', 'AwayTeam', 'HomeGoals', 'AwayGoals', 'Date']]
display(sorted_bundesliga_df_colunas)

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Date
4457,Borussia Moenchengladbach,Borussia Dortmund,12,0,1978-04-29 09:30:00
4052,1. FC Koeln,Tennis Borussia Berlin,8,4,1977-02-26 09:30:00
2456,Bayern Muenchen,Borussia Dortmund,11,1,1971-11-27 09:30:00
81,Borussia Dortmund,1. FC Kaiserslautern,9,3,1963-11-16 09:30:00
5788,Borussia Dortmund,Arminia Bielefeld,11,1,1982-11-06 09:30:00