In [63]:
import numpy as np
from scipy.stats import norm

## Desafio 1

#### Importando e estudando o dataframe

In [82]:
dados = pd.read_csv("desafio_01_cosmeticos_challenge_testehipoteses230206120450-230911-094933.csv")

In [91]:
dados.head()

   id_produto  id_voluntária  durabilidade  idade  exposicao_sol
0           1              1            12     40              1
1           2              2             5     36              0
2           1              3            19     47              0
3           1              4            14     36              1
4           1              5            17     46              1

In [88]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_produto     300 non-null    int64
 1   id_voluntária  300 non-null    int64
 2   durabilidade   300 non-null    int64
 3   idade          300 non-null    int64
 4   exposicao_sol  300 non-null    int64
dtypes: int64(5)
memory usage: 11.8 KB

In [85]:
dados.describe()

       id_produto  id_voluntária  durabilidade       idade  exposicao_sol
count  300.000000     300.000000    300.000000  300.000000     300.000000
mean     2.000000     150.500000     17.133333   36.886667       0.440000
std      0.817861      86.746758     10.942945   12.625841       0.497216
min      1.000000       1.000000      5.000000   18.000000       0.000000
25%      1.000000      75.750000      9.000000   26.000000       0.000000
50%      2.000000     150.500000     14.000000   36.000000       0.000000
75%      3.000000     225.250000     20.000000   48.000000       1.000000
max      3.000000     300.000000     48.000000   60.000000       1.000000

### 1.

In [89]:
n = dados.shape[0]

300

## Desafio 2

### 1.

In [64]:
media = 7.85
desvio_padrao = 3.32
n = 45
media_amostral = 11.52
significancia = 5 / 100
confianca = 1 - significancia

#### Hipóteses
H0: M <= 7.85

H1: M > 7.85

#### **n >= 30?**
SIM

#### **O desvio padrão populacional é conhecido?**
SIM

In [65]:
probabilidade = confianca

In [66]:
z_alpha = norm.ppf(probabilidade)
z_alpha

1.6448536269514722

In [67]:
z = (media_amostral - media) / (desvio_padrao / np.sqrt(n))
z

7.415394106106231

In [68]:
z >= z_alpha

True

#### Critério do p_valor

In [69]:
p_valor = norm.sf(z)
p_valor

6.063183140530931e-14

In [70]:
# Rejeitar H0 se , p_valor <= significancia
p_valor <= significancia

True

#### Conclusão:
Como mostrado, a hipótese nula foi rejeitada, portanto concluímos que, em algumas localidades, o preço está mais caro

### 2.

In [71]:
intervalo_confianca = [
    media_amostral - z * (desvio_padrao / np.sqrt(n)),
    media_amostral + z * (desvio_padrao / np.sqrt(n))
]

intervalo_confianca

[7.85, 15.19]

In [72]:
print(f"O valor da variável teste é de {z:.2}")
print(f"O intervalo de confiança está entre {intervalo_confianca[0]} e {intervalo_confianca[1]}")
print(f"O p valor é {p_valor:.8}")

O valor da variável teste é de 7.4
O intervalo de confiança está entre 7.85 e 15.19
O p valor é 6.0631831e-14

## Desafio 2 - outra forma

In [73]:
media = 7.85
desvio_padrao = 3.32
n = 45
media_amostral = 11.52
significancia = 5 / 100
confianca = 1 - significancia

#### Hipóteses
H0: M = 7.85

H1: M != 7.85

#### **n >= 30?**
SIM

#### **O desvio padrão populacional é conhecido?**
SIM

In [74]:
probabilidade = confianca/2 + 0.5
probabilidade

0.975

In [75]:
z_alpha_2 = norm.ppf(probabilidade)
z_alpha_2

1.959963984540054

In [76]:
z = (media_amostral - media) / (desvio_padrao / np.sqrt(n))
z

7.415394106106231

In [77]:
z >= z_alpha_2 or z <= - z_alpha_2

True

#### Critério do p_valor

In [78]:
p_valor = 2 * (norm.sf(z))
p_valor

1.2126366281061861e-13

In [79]:
p_valor <= significancia

True

#### Conclusão:
Como mostrado, a hipótese nula foi rejeitada, portanto concluímos que há diferenças de preços estatisticamente relevante

### 2.

In [80]:
intervalo_confianca = [
    media_amostral - z * (desvio_padrao / np.sqrt(n)),
    media_amostral + z * (desvio_padrao / np.sqrt(n))
]

intervalo_confianca

[7.85, 15.19]

In [81]:
print(f"O valor da variável teste é de {z:.2}")
print(f"O intervalo de confiança está entre {intervalo_confianca[0]} e {intervalo_confianca[1]}")
print(f"O p valor é {p_valor:.8}")

O valor da variável teste é de 7.4
O intervalo de confiança está entre 7.85 e 15.19
O p valor é 1.2126366e-13